body{
	border: 5px solid;
	padding: 25px;
	padding-bottom: 50px;
}

#footer .placeDate{
	font-weight: bold;
}

#footer .sign{
	position: relative;
	float: right;
	font-style: italic;
	font-weight: bold;
}

table{
	width: 60%;
}

table tr{
	line-height: 30px;
	text-align: center;
}